
<ion-content>
  <div style="margin-top: 25px;">
    <ion-card-header>
      <ion-row>
        <ion-col size="7">
          <img src="assets/block.png" alt="">
        </ion-col>
        <ion-col size="5">
          <h1 class="welcome_text">
            !Oops<br />
            Cuenta Inactiva
          </h1>
        </ion-col>
      </ion-row>
      <p style="color: rgb(85, 85, 85);font-weight: 400;font-style: normal;font-size: 14px;">
        Tu cuenta está Inactiva y/o en revisión
        
        <br />
        si gustas comunicarte a soporte:
      </p>
    </ion-card-header>
    <p align="center" style="font-weight: 400;font-style: normal"><a href="https://goshiply.com/">Soporte Tecnico</a></p>
</div>
</ion-content>